* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background-color: #eaeffa;
  border-radius: 0.8rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #b7d3fb;
  border-radius: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Playpen Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #a5b4fc, #93c5fd);
}

.kanban {
  display: flex;
  gap: 1.4rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2.4rem;
  width: 100%;
  height: 90vh;
  overflow-x: auto;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  height: 100%;
  overflow-y: auto;
  background-color: #f6f8fc;
  border-radius: 1.2rem;
  box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  overflow: hidden;
  min-width: 26rem;
  position: relative;

  @media all and (max-width: 87.87em) {
    height: 50%;
  }

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
  }
  &[data-id='1']::after {
    background-color: #d573b6;
  }
  &[data-id='2']::after {
    background-color: #fea065;
  }
  &[data-id='3']::after {
    background-color: #fed565;
  }
  &[data-id='4']::after {
    background-color: #92a5fb;
  }
  &[data-id='5']::after {
    background-color: #6ed0bc;
  }
}

.kanban-title {
  display: flex;
  justify-content: space-between;

  & h2 {
    font-size: 1.8rem;
    color: #4b5563;
    font-weight: 600;
  }
}

.add-card {
  color: #4b5563;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

.kanban-cards {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.kanban-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  background-color: #ffffff;
  padding: 1rem;
  width: 24rem;
  border-radius: 1.4rem;
  box-shadow: 0 0.5rem 0.5rem -0.3rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.badge {
  color: #ffffff;
  width: fit-content;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 1.2rem;

  &.high {
    background-color: #d573b6;
  }
  &.medium {
    background-color: #fea065;
  }
  &.low {
    background-color: #92a5fb;
  }
}

.dragging {
  opacity: 0.5;
}

.card-title {
  font-size: 1.1rem;
  font-weight: 600;
}

.card-infos {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0.8rem;
}
.card-icons {
  display: flex;
  gap: 1.5rem;
  & i {
    color: #a8a8aa;
  }
}

.cards-hover {
  background-color: #eaeffa;
  border-radius: 0.8rem;
}

.user img {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 100%;
  object-fit: cover;
}

.adicionando,
.popupDeletar,
.popupEditar {
  padding: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50rem;
  height: 35rem;
  border-radius: 1rem;
  box-shadow: inset -0.5rem -0.5rem 2rem 0.5rem rgba(0, 0, 0, 0.2);
  background: linear-gradient(150deg, #93c5fd, #a5b4fc);
}

.opcoes {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.custom_radio input[type='radio'] {
  display: none;
}

.custom_radio label {
  display: inline-block;
  margin: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #43b494;
  color: #ffffff;
  width: fit-content;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  border-radius: 1.2rem;
}

.custom_radio input[type='radio']:checked + label {
  box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
}

label:hover {
  transform: scale(1.1);
}

#alta_prioridade:checked + label,
.alta_prioridade:checked + label {
  background-color: #d573b6; /* Vermelho para alta prioridade */
}

#media_prioridade:checked + label,
.media_prioridade:checked + label {
  background-color: #fea065; /* Amarelo para média prioridade */
}

#baixa_prioridade:checked + label,
.baixa_prioridade:checked + label {
  background-color: #92a5fb;
}

.custom-radio input[type='radio']:checked + label {
  transform: scale(1.2);
}

.title {
  display: flex;
  justify-content: center;
  padding: 0.5rem 1rem;
}

.title-input {
  width: 20rem;
  height: 2.5rem;
  padding: 0.8rem;
}

.title-input::placeholder {
  text-align: center;
}

.title-input,
.caixa_texto,
.popupEditar__titulo {
  border: 0;
  resize: none;
  border-radius: 1.2rem;
}

.title-input:focus,
.caixa_texto:focus {
  outline: none;
  box-shadow: inset 0 0 1.5rem 0.2rem transparent;
  border: 2px solid #998fe8;
}

.descricao,
.popupEditar__descricao {
  display: flex;
  justify-content: center;
}
.caixa_texto {
  width: 30rem;
  height: 10rem;
  padding: 1rem;
}

.caixa_texto::placeholder {
  text-align: start;
}

.buttons {
  display: flex;
  justify-content: space-around;
  height: 4rem;
  align-items: center;
}

.botao {
  text-transform: uppercase;
  font-weight: 600;
  border: 0;
  border-radius: 5rem;
  padding: 0.6rem 0.8rem;
  width: 9rem;
  box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.2);
}

.okButton {
  background-color: #6ac96f;
  box-shadow: inset 0 0.5rem 0.5rem 0.2rem transparent;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: inset 0.2rem -0.5rem 1rem 0.1rem #52b957;
    transform: scale(1.1);
  }
}
.cancelarButton {
  background-color: #e57373;
  box-shadow: inset 0 0.5rem 0.5rem 0.2rem transparent;
  transition: all 0.3s ease;
  &:hover {
    box-shadow: inset 0.2rem -0.5rem 1rem 0.1rem #d63d3d;
    transform: scale(1.1);
  }
}

.popupDeletar,
.popupEditar {
  display: none;
  justify-content: space-between;
  align-items: center;
}

.buttonsDelete,
.buttonsEdit {
  display: flex;
  gap: 4rem;
  justify-content: space-around;
}

.botaoSim,
.botaoNao,
.botaoOk,
.botaoCancelar {
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.botaoSim,
.botaoOk {
  background-color: #10b981;
  transition: all 0.3s;
  &:hover {
    background-color: #059669;
    transform: scale(1.2);
  }
}
.botaoNao,
.botaoCancelar {
  background-color: #ef4444;
  transition: all 0.3s;
  &:hover {
    transform: scale(1.2);
    background-color: #dc2626;
  }
}
