* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Playpen Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #a5b4fc, #93c5fd);
}

.kanban {
  display: flex;
  gap: 1.4rem;
  padding: 2.4rem;
  width: 100%;
  height: 90vh;
  overflow-x: auto;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  height: 100%;
  overflow-y: auto;
  background-color: #f6f8fc;
  border-radius: 1.2rem;
  box-shadow: 0 1rem 1.5rem -0.3rem rgba(0, 0, 0, 0.1);
  padding: 1.2rem;
  overflow: hidden;
  min-width: 25.2rem;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 0.5rem;
    width: 100%;
  }
  &[data-id='1']::after {
    background-color: #d573b6;
  }
  &[data-id='2']::after {
    background-color: #fea065;
  }
  &[data-id='3']::after {
    background-color: #fed565;
  }
  &[data-id='4']::after {
    background-color: #92a5fb;
  }
  &[data-id='5']::after {
    background-color: #6ed0bc;
  }
}

.kanban-title {
  display: flex;
  justify-content: space-between;

  & h2 {
    font-size: 1.8rem;
    color: #4b5563;
    font-weight: 600;
  }
}

.add-card {
  color: #4b5563;
  font-size: 2rem;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
