* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Playpen Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #a5b4fc, #93c5fd);
}

.kanban {
  display: flex;
  gap: 1.4rem;
  padding: 2.4rem;
  width: 100%;
  height: 90vh;
  overflow-x: auto;
}

.kanban-column {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  height: 100%;
  overflow-y: auto;
}
